version: '3'

networks:
    laravel:

services:
    nginx:
        image: nginx:stable-alpine
        container_name: nginx
        ports:
            - "8088:80"
        volumes:
            - ./src:/var/www/html
            - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - php
        networks:
            - laravel

    php:
        image: php:8.1-fpm 
        container_name: php
        expose:  
            - 9000  
        volumes:
            - ./src:/var/www/html
        networks:
            - laravel
